name: Diabetic Model CI/CD Pipeline

on:
  push:
    branches: [ "main" ]\
    
  pull:
    branches: [ "main" ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: pip install pandas numpy scikit-learn joblib
    - name: Run Training
      run: |
        mkdir -p artifacts
        python train.py
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/

  test-backend:
    needs: build-and-train
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/
    - name: Install Backend Dependencies
      run: pip install flask pandas joblib scikit-learn
    - name: Start Flask Backend
      run: |
        python backend.py > backend.log 2>&1 &
        sleep 5
    - name: Test Prediction
      run: |
        curl -X POST http://127.0.0.1:5003/predict \
          -H "Content-Type: application/json" \
          -d '{"features": [55, "Caucasian", "Female", 35, 1, 15, 0, 0, 0, 9, "None", ">7", "Yes", "No"]}'

  containerize:
    needs: test-backend
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/
    - name: Build Docker Image
      run: docker build -t diabetic-backend:latest .
    - name: Verify Container
      run: |
        # Map Host Port 5003 to Container Port 5003
        docker run -d -p 5003:5003 --name test-container diabetic-backend:latest
        sleep 10
        curl -X POST http://127.0.0.1:5003/predict \
          -H "Content-Type: application/json" \
          -d '{"features": [55, "Caucasian", "Female", 35, 1, 15, 0, 0, 0, 9, "None", ">7", "Yes", "No"]}'
        docker stop test-container
