name: Diabetic Model CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: [ '3.10', '3.12' ]

    - name: Install dependencies
      run: |
        pip install pandas numpy scikit-learn joblib
        pip install dvc[s3]

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Pull Data from DVC
      run: dvc pull -f

    - name: Run Training
      run: |
        mkdir -p artifacts
        python train.py

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/


  test-backend:
    needs: build-and-train
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/
    - name: Install Backend Dependencies
      run: pip install flask pandas joblib scikit-learn
    - name: Start Flask Backend
      run: |
        python backend.py > backend.log 2>&1 &
        sleep 5
    - name: Test Prediction
      run: |
        curl -X POST http://127.0.0.1:5003/predict \
          -H "Content-Type: application/json" \
          -d '{"features": [55, "Caucasian", "Female", 35, 1, 15, 0, 0, 0, 9, "None", ">7", "Yes", "No"]}'

  containerize:
    needs: test-backend
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: diabetic-model-package
        path: artifacts/
    - name: Build Docker Image
      run: docker build -t diabetic-backend:latest .
    - name: Verify Container
      run: |
        # Map Host Port 5003 to Container Port 5003
        docker run -d -p 5003:5003 --name test-container diabetic-backend:latest
        sleep 10
        curl -X POST http://127.0.0.1:5003/predict \
          -H "Content-Type: application/json" \
          -d '{"features": [55, "Caucasian", "Female", 35, 1, 15, 0, 0, 0, 9, "None", ">7", "Yes", "No"]}'
        docker stop test-container
